<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">The intent of this tool is to display the members of the Group "random", their Manager and their direct reports. This tool also provides the list of members who fall under the groups hierarchy but are not part of the group. Group "gpinsfi_synergy_admintool" provides the access to admin tool.</p>
    <a routerLink="/tree" class="btn btn-primary btn-lg">View Tree</a>
  </header>
</div>
