<div class="container">
  <header class="jumbotron my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/yellow-gentleman.svg" alt="" />
          <div class="card-footer">
            <p class="card-text">Programmer</p>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/orange-gentleman.svg" alt="" />
          <div class="card-footer">
            <p class="card-text">Senior Programmer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/blue-gentleman.svg" alt="" />
          <div class="card-footer">
            <p class="card-text">Lead</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/white-gentleman.svg" alt="" />
          <div class="card-footer">
            <p class="card-text">Manager</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/img/gray-gentleman.svg" alt=""  />
              <div class="card-footer">
                <p class="card-text">Unknown Designation</p>
              </div>
            </div>
          </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/white-block-gentleman.svg" alt="" style="background-color:greenyellow;" />
          <div class="card-footer">
            <p class="card-text">Group Member</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="../assets/img/white-block-gentleman.svg" alt="" style="background-color:gray;" />
          <div class="card-footer">
            <p class="card-text">Not a Group Member</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>